  <div class="alert alert-primary" role="alert">
      <div class="table-container">
        <table class="table table-bordered table-hover align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th scope="row" colspan="3" class="text-center fs-4">🛒 Carrito</th>
            </tr>
            <tr>
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center">Precio</th>
              <th scope="col" class="text-center">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            {% if request.session.carro.items %}
              {% for key, value in request.session.carro.items %}
                <tr>
                  <td class="text-center">{{ value.nombre }}</td>
                  <td class="text-center">${{ value.precio }}</td>
                  <td class="text-center">
                    {{ value.cantidad }}
                    <a href="{% url 'Añadir' value.producto_id %}" class="badge bg-success text-white ms-2">+</a>
                    <a href="{% url 'Restar' value.producto_id %}" class="badge bg-danger text-white ms-1">-</a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3">
                  <div class="alert alert-danger text-center">🛑 Sin Productos</div>
                </td>
              </tr>
            {% endif %}
            <tr class="table-secondary">
              <th scope="row">Total:</th>
              <td colspan="2" class="text-end fw-bold">${{ total_carrito }}</td>
            </tr>
          </tbody>
        </table>  
      </div>
    
      <hr>
    
      <div class="row text-center">
        <div class="col-6">
          <a href="{% url 'Limpiar' %}" class="btn btn-danger w-100">🗑 Limpiar</a>
        </div>
        <div class="col-6">
          <a href="{% url 'confirmar' %}" class="btn btn-success w-100">💾 Guardar</a>
        </div>
      </div>
    </div>